* {
    font-size: 100%;
    margin: 1;
    line-height: 1;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

h1, h2, h3 {
    margin: 20px;
}

p {
    margin: 15px 0;
}

body {
    background-color:darkgray;
    color: black;
    font-family:'Itim', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header, section, footer {
    padding: 10px;
}

body {
    text-align: center;
}

ul {
    font-size: 30px;
    text-align:left;
    margin: 0;
}

ol {
    font-size: 30px;
    text-align: left;
    margin: 15px 0;
}

h1 {
    color: gray;
    font-weight: 900;
    font-style: italic;
}
    
h1 {
    font-family:'Itim', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 60px;
}

.itim-regular {
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
}

h2 {
    text-decoration: underline;
    font-size: 48px;
}

.first-paragraph {
    text-decoration: none;
    font-size: 30px;
    line-height: 1.5;
}

.second-paragraph {
    text-decoration: none;
    font-size: 30px;
    line-height: 1.5;
}

.third-paragraph {
    text-decoration: none;
    font-size: 30px;
    line-height: 1.5;
}

.fifth-paragraph{
    text-decoration: none;
    font-size: 30px;
    line-height: 1.5;
}
.sixth-paragraph {
    font-size: 24px;
}

.sixth-section {
    font-size: 20px;
}

h1 {
    border-bottom: 5px black;
}

img {
    border: 25px solid black; 
    width: 1000px;
    max-width: 100%;
    height: 750px; 
}

.second-section, .third-section, .third-paragraph {
    border: 10px solid black;
    background-color:  lightgray;
    margin: 60px;
    padding: 60px;
}

iframe {
    border: 25px solid rgb(0, 0, 0);
    width: 700px;
    max-width: 100%;
    height: 450px;
}

.title {
    font-size: 60px;
    text-decoration: none;
    border: 25px solid black
}

#header-title {
    background-color: lightgray;
    color: black;
    margin: 60px;
    padding: 60px;
}
/* style for the banner */
