body {
    background-color:lightgray;
    color: black;
    font-family:'Itim', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body {
    text-align: center;
}

ol, ul {
    margin: 0 auto;
    width: 30%;
    text-align:left;
}

.underlined {
    text-decoration: underline;
}

h1 {
    color:darkcyan;
    font-weight: 900;
    font-style:italic;
    }
    
h1 {
    font-family:'Itim', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.itim-regular {
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
  }

p {
    line-height: 1.5;
}

